/node_modules
/whatsapp_380632910991
/Logs
/.wwebjs_auth
/.wwebjs_cache
.wwebjs_auth/session-380632910991/DevToolsActivePort
.wwebjs_auth/session-380632910991/Default/chrome_debug.log
.wwebjs_auth/session-380632910991/Default/Cookies
